<div class="pg-header">
    <div class="logo left">博客系统</div>
    <div class="hl-menu left">
        <a class="item" href="#">菜单一</a>
        <a class="item" href="#">菜单二</a>
        <a class="item" href="#">菜单三</a>
        <div class="item-set">
            <a class="item" href="#">菜单四</a>
            <div class="sets">
                <a href="#">菜单四-1</a>
                <a href="#">菜单四-2</a>
                <a href="#">菜单四-3</a>
            </div>
        </div>
        <div class="item-set">
            <a class="item" href="#">菜单四</a>
            <div class="sets">
                <a href="#">菜单四-1</a>
                <a href="#">菜单四-2</a>
                <a href="#">菜单四-3</a>
            </div>
        </div>
    </div>
    <div class="hr-menu right">
        <a class="item" href="#">消息</a>
        <a class="item" href="#">通知</a>
        <a class="item" href="#">任务</a>
        <div class="avatar right">
            <a class="item" href="#">
                <img src="/static/imgs/avatar/default.png">
            </a>
        </div>
    </div>
</div>