<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/plugins/font-awesome-4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/cs/index.css"/>
</head>
<body>
<div class="register">
        <div class="usertitle">
        <h1>用户登录</h1>
    </div>
        <div>
        <form id="fm" action="/user_login.html" role="form" method="post">
            {% csrf_token %}
            <div class="form-group">
{#                <label for="username">用户名</label>#}
{#                <input type="text" class="form-control" name="username" id="username" placeholder="请输入用户名">#}
                    {{ form_obj.username.label_tag }}
                    {{ form_obj.username }}
{#                    <span>{{ form_obj.username.errors.0 }}</span>#}
            </div>
            <div class="form-group">
{#                <label for="password1">密码</label>#}
{#                <input type="password" class="form-control" name="password" id="password" placeholder="请输入密码">#}
                    {{ form_obj.password.label_tag }}
                    {{ form_obj.password }}
{#                    <span>{{ form_obj.password.errors.0 }}</span>#}
            </div>
            <div class="form-group">
{#                <label for="code_ver">验证码</label>#}
                {{ form_obj.check_code.label_tag }}
                <div class="row">
                    <div class="col-xs-7">
{#                        <input type="text" class="form-control" name="check_code" id="code_ver" placeholder="请输入验证码">#}

                        {{ form_obj.check_code }}
{#                        <span>{{ form_obj.check_code.errors.0 }}</span>#}
                    </div>

                    <div class="col-xs-5">
{#                        <img src="/check_code.html" onclick="changeImg(this);">#}
                        <img id="check_code_img" src="/check_code.html" onclick="changeImg(this);">
                    </div>
                </div>

            </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="1" name="rmb"> 一个月内自动登陆
            </label>

            <div class="right">
                <a href="#">忘记密码？</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <a id="submit" class="btn btn-default">登 陆</a>
            </div>
            <div class="col-xs-9" style="padding-left: 0;">
                <div class="alert alert-danger hide">
                    <span style="padding: 0 5px 0 5px;display: inline-block;font-size: 14px">
                        <i class="fa fa-minus-circle" aria-hidden="true"></i>
                    </span>
                        <span id="error_msg_username" style="font-size: 12px;"></span>
                        <span id="error_msg_password" style="font-size: 12px;"></span>
                        <span id="error_msg_check_code" style="font-size: 12px;"></span>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
<script src="/static/js/jquery-3.1.1.js"></script>
<script src="/static/js/verification_code.js"></script>
    <script type="text/javascript">
        $(function () {
            bindLogin();
        });
        function bindLogin() {
            $('#submit').click(function () {
                var $msg_username = $('#error_msg_username');
                var $msg_password = $('#error_msg_password');
                var $msg_check_code = $('#error_msg_check_code');
                $msg_username.parent().addClass('hide');
                $msg_password.addClass('hide');
                $msg_check_code.addClass('hide');
                $.ajax({
                    url: 'user_login.html',
                    type: 'POST',
                    data: $('#fm').serialize(),
                    dataType: 'JSON',
                    success: function (arg) {
                        {#console.log(arg.status);#}
                        if(arg.status){
                            {#location.href = '/'#}
                            location.href = 'index.html'
                        }else{
                            {#console.log(arg.password[0]);#}
                            {##}
                            {#console.log(arg.check_code[0].message);#}
                            {#console.log(arg.username[0].message);#}
                            {#console.log(arg.password[0].message);#}

                            {#$msg_username.parent().removeClass('hide');#}
                            {#$msg_username.text(arg.username[0].message);#}
                            {#$msg_password.parent.removeClass('hide');#}
                            {#$msg_password.text(arg.password[0].message);#}
                            {#$msg_check_code.parent.removeClass('hide');#}
                            {#$msg_check_code.text(arg.check_code[0].message);#}
                            {#console.log(arg);#}
                            console.log(arg);
                            $msg_username.parent().removeClass('hide');
                            for (var p in arg) {
                                console.log(arg[p][0].message);
                            }
{#                            if(arg.hasOwnProperty("username") || arg.hasOwnProperty("password") || arg.hasOwnProperty("check_code")){#}
{#                                console.log(arg.username[0].message)#}
{#                                console.log(arg.password[0].message)#}
{#                                console.log(arg.check_code[0].message)#}
{#                            }#}



                            var img = $('#check_code_img')[0];
                            img.src = img.src + '?';
                            $('#password,#check_code').val('');
                        }

                    }
                })

            })
        }
    </script>
</body>
</html>